
.features {
  padding-top: 50px;
  padding-bottom: 55px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  position: relative;
  float: left;
  width: 279px;
  padding-top: 90px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.features__item:first-child {
  border-left-color: transparent;
}

.features__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 137px;
  width: 65px;
  height: 65px;
  background-image: url("../../../../img/sprite.png");
  background-repeat: no-repeat;
}

.features__item--choice::before {
  background-position: -5px -5px;
}

.features__item--quality::before {
  background-position: -5px -76px;
}

.features__item--safety::before {
  background-position: 1px -143px;
}

.features__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.features__item p {
  margin: 0;
}
