
.price-list {
  padding-bottom: 90px;
  
  background-color: #f2f2f2;
}

.price-list__table {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
}

.price-list__table th {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.price-list__table td {
  border: 1px solid #d8d8d8;
}

.price-list__table th,
.price-list__table td {
  padding: 10px 17px;
}

.price-list__number {
  width: 15px;
  text-align: center;
}

.price-list__name {
  width: 422px;
  font-weight: bold;
  color: #000000;
}

.price-list__master {
  width: 306px;
}

.price-list__cost {
  width: 135px;
}
